<html xmlns:th="http://www.thymeleaf.org">
    <body>

        <div th:fragment="form-pesawat">
            <div class="form-wrapper">
                <form th:action="@{/pesawat/form-pesawat}" name="form_pesawat" method="post">
                    <div class="form-row clearfix">
                        <label for="id_pesawat" class="form-label">ID Pesawat</label>
                        <input type="text" name="id_pesawat" class="form-input form-input-left" id="id_pesawat"/>
                    </div>
                    <div class="form-row clearfix">
                        <label for="nama_pesawat" class="form-label">Nama Pesawat</label>
                        <input type="text" name="nama_pesawat" class="form-input form-input-left" id="nama_pesawat"/>
                    </div>
                    <div class="form-row">
                        <input type="submit" onclick="return submitPesawat()" class="form-button form-button-confirm" value="Submit Data"/>
                    </div>
                </form>
            </div>
        </div>

        <div th:fragment="list-pesawat">

        </div>

        <div
            th:fragment="form-pesawat-fragment"
            th:replace="static/fragments :: wrapper(~{::form-pesawat},'Form Pesawat')">
        </div>

        <div
            th:fragment="list-pesawat-fragment"
            th:replace="static/fragments :: wrapper(~{::list-pesawat},'List Pesawat')">
        </div>

    </body>
</html>